---
import Social from './Social.astro';
---

<footer>
  <p>¡Sigamosnos en  {<Social platform="linkedin" username="in/steve-gomez-dev" />}!</p>
  <p>
    Aqui tienes otras redes para vistarme:
  </p>
  <Social platform="twitter" username="" />
  <Social platform="github" username="badkitten-bug" />
  <Social platform="youtube" username="" />
</footer>
